<form>
  How many numbers are in correct places?
  <input type="text" name="places">
  <br>
  How many correct numbers but in wrong place?
  <input type="text" name="digits">
  <br>
  <input type="submit" name="submit" value="Submit">
</form>
<%=message%>
